body {
  background-color: WhiteSmoke;
  font-size: 16px;
  margin: 0;
}

.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  background: ghostwhite;
  gap: 24px;
}

.container-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 0;
  font-size: 24px;
}

.el-card {
  box-shadow: 
    2px 2px 4px -6px rgb(0 0 0 / 70%),
    -5px 4px 6px -5px rgb(0 0 0 / 70%);
  border-radius: 4px;
  padding: 8px;
  background-color: AliceBlue;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

.el-card.invalid {
  background-color: brown;
}

.el-card-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
  margin: 8px;
}
  
.point-list {
  display: flex;
  align-items: center;
}
  
.point-chip {
  border-radius: 4px;
  display: flex;
  padding: 10px;
  margin: 8px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  font-family: monospace;
}

.triangle-sides {
  color: black;
  margin: 4px;
  padding: 4px;
}
  
.triangle-area {
  color: black;
  margin: 4px;
  padding: 4px;
}

.triangle-vertices {
  display: flex;
  align-items: center;
  color: black;
  padding: 0px 8px;
  display: flex;
}

.sides {
  margin: 8px;
}

 
