body {
  font-size: 16px;
  margin: 0;
}

.page-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  gap: 24px;
}

.page-content-name {
  font-family: monospace;
  margin: 0;
  font-size: 14px;
}

.page-content-shell {
  display: contents;
}

.el-card {
  box-shadow: 
    2px 2px 4px -6px rgb(0 0 0 / 70%),
    -5px 4px 6px -5px rgb(0 0 0 / 70%);
  border-radius: 4px;
  padding: 8px;
  background-color: aliceblue;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

.el-card.invalid {
  background-color: rgb(160, 111, 106);
}

.el-card-name {
  letter-spacing: 3px;
  color: black;
  margin: 8px;
}

.point-list {
  display: flex;
  align-items: center;
}

.point-chip {
  border-radius: 4px;
  display: flex;
  padding: 6px;
  margin: 8px;
  background-color: white;
  border: 1px solid grey;
  font-family: monospace;
}

.content-div{
  margin: 4px;
  padding: 4px;
}

.content-div-with-chip {
  display: flex;
  align-items: center;
  color: black;
  padding: 0px 8px;
  display: flex;
}

.nav-button {
  border-radius: 2px;
  font-family: monospace;
  border: 0.5px solid black;
  background-color: aliceblue;
  margin: 8px 4px 4px 4px;
  padding: 6px;
}

.nav-button.active {
  border: 1px solid black;
  background-color: Gainsboro;
}

.nav-button:hover {
  cursor: pointer;
  background: lightgrey;
}

.page-container{ 
  background-color: ghostwhite;
}

.app-name {
  font-family: monospace;
  margin: 10px;
  font-size: 16px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-button {
  border-radius: 2px;
  font-family: monospace;
  border: 0.5px solid black;
  background-color: aliceblue;
  margin: 8px 8px 4px 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.add-button:hover {
  cursor: pointer;
  background: lightgrey;
}

.create-item-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.create-item-form .form-title {
  margin: 4px 0;
}

.create-item-form .form-content {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 8px;
}

.submit-button {
  border-radius: 3px;
  font-family: monospace;
  border: none;
  background-color: #bed5d7;
  padding: 6px;
  box-shadow:
    0 1px 2px -1px rgb(0 0 0 / 70%),
    2px 3px 4px -5px rgb(0 0 0 / 20%);
  align-self: flex-end;
}

.form-title {
  font-family: monospace;
  margin: 6px;
  font-size: 16px;
}

.input {
  font-family: monospace;
  font-size: 14px;
  padding: 6px;
  width: 10%;
}